# ignore the modules folder
node_modules
package-lock.json
stremio-kanbox.json

config/*.env

#ignore output folders
output/*.json
output/*.zip
output/

#ignore the logs folder
logs
logs/*.*

#ignore java sction of project as it is already obsolete
WebCrawler/
